---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-a-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:20 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/bodyglove/bookings/85ab9e4c-03fd-4bd4-af67-4946aa426c79/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"booking":{"display_id":"#16604","status":"cancelled","customers":[{"pk":57296,"custom_field_values":[],"customer_type_rate":{"pk":149126,"customer_type":{"note":"18
        and up","pk":298,"plural":"Adults","singular":"Adult"},"total":13200,"capacity":66,"customer_prototype":{"pk":287,"display_name":"Adults
        (18 and up)"}}},{"pk":57297,"custom_field_values":[],"customer_type_rate":{"pk":149126,"customer_type":{"note":"18
        and up","pk":298,"plural":"Adults","singular":"Adult"},"total":13200,"capacity":66,"customer_prototype":{"pk":287,"display_name":"Adults
        (18 and up)"}}}],"uuid":"85ab9e4c-03fd-4bd4-af67-4946aa426c79","receipt_taxes":1987,"note_safe_html":"\u003cp\u003eOptional
        booking note\u003c\/p\u003e","receipt_subtotal":26400,"arrival":{"display_text":"Please
        arrive by 7:45am","notes":"**Boarding is 30 minutes prior to departure time**
        at the Kailua Pier.\n\n**ALERT!**\nDue to heavy traffic and road construction,
        please allow extra drive time for traffic delays. The following are the current
        suggested drive times:\nKailua-Kona - 30 Minutes\nKeauhou - 1 Hour\nWaikoloa
        Resorts - 1.5 Hours\nHilo \u0026 Volcano - 3 Hours\n\nThe Kailua Pier is located
        in the heart of downtown Kailua Kona, ocean front of the King Kamehameha Courtyard
        Marriott Kona Beach Hotel. \n\n**Free parking is available at the Body Glove
        office a block up from the pier.** \n\n[![Get directions](https:\/\/d1a2dkr8rai8e2.cloudfront.net\/api\/file\/zHkp5PxGQf69fkfcaXvg)](https:\/\/goo.gl\/maps\/BwRre)","notes_safe_html":"\u003cp\u003e\u003cstrong\u003eBoarding
        is 30 minutes prior to departure time\u003c\/strong\u003e at the Kailua Pier.\u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003eALERT!\u003c\/strong\u003e\u003cbr\u003e\nDue
        to heavy traffic and road construction, please allow extra drive time for
        traffic delays. The following are the current suggested drive times:\u003cbr\u003e\nKailua-Kona
        - 30 Minutes\u003cbr\u003e\nKeauhou - 1 Hour\u003cbr\u003e\nWaikoloa Resorts
        - 1.5 Hours\u003cbr\u003e\nHilo \u0026amp; Volcano - 3 Hours\u003c\/p\u003e\n\u003cp\u003eThe
        Kailua Pier is located in the heart of downtown Kailua Kona, ocean front of
        the King Kamehameha Courtyard Marriott Kona Beach Hotel. \u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003eFree
        parking is available at the Body Glove office a block up from the pier.\u003c\/strong\u003e
        \u003c\/p\u003e\n\u003cp\u003e\u003ca href=\"https:\/\/goo.gl\/maps\/BwRre\"
        target=\"_new\"\u003e\u003cimg alt=\"Get directions\" src=\"https:\/\/d1a2dkr8rai8e2.cloudfront.net\/api\/file\/zHkp5PxGQf69fkfcaXvg\"\u003e\u003c\/a\u003e\u003c\/p\u003e","time":"2016-11-15T07:45:00-1000"},"rebooked_to":null,"confirmation_url":"https:\/\/demo.fareharbor.com\/embeds\/book\/bodyglove\/items\/183\/booking\/85ab9e4c-03fd-4bd4-af67-4946aa426c79\/","note":"Optional
        booking note","pickup":null,"contact":{"phone":"123-456-7890","name":"John
        Doe","email":"johndoe@example.com"},"invoice_price":28387,"receipt_total":28387,"custom_field_values":[{"pk":38824,"custom_field":{"modifier_type":"none","description":"","booking_notes_safe_html":"","extended_options":[{"name":"Yes!","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":40044,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""},{"name":"No
        Thank You","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":40045,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""}],"is_taxable":true,"modifier_kind":"offset","description_safe_html":"","booking_notes":"","offset":0,"pk":4480,"percentage":0.0,"is_required":false,"type":"extended-option","is_always_per_customer":false,"name":"Are
        you interested in SCUBA? ($105\/Discover SCUBA) ($95\/Certified Diver)"},"value":""},{"pk":38826,"custom_field":{"modifier_type":"none","description":"","booking_notes_safe_html":"","extended_options":[{"name":"101
        Things To Do","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":39982,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""},{"name":"Activity
        Desk","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":39983,"percentage":0.0,"modifier_type":"none"[...]
