---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-1
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:19 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/bodyglove/availabilities/70050/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-a-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"availability":{"capacity":120,"customer_type_rates":[{"customer_prototype":{"pk":287,"display_name":"Adults
        (18 and up)"},"capacity":120,"custom_field_instances":[],"customer_type":{"note":"18
        and up","pk":298,"plural":"Adults","singular":"Adult"},"pk":149140,"total":13200},{"customer_prototype":{"pk":3109,"display_name":"Adult
        Coupons"},"capacity":120,"custom_field_instances":[],"customer_type":{"note":"","pk":297,"plural":"Adult
        Coupons","singular":"Adult Coupon"},"pk":1161726,"total":12200},{"customer_prototype":{"pk":288,"display_name":"Children
        (Ages 6- 17) Must be accompanied by 18+ Adult"},"capacity":120,"custom_field_instances":[],"customer_type":{"note":"(Ages
        6- 17) Must be accompanied by 18+ Adult","pk":299,"plural":"Children","singular":"Child"},"pk":149141,"total":8800},{"customer_prototype":{"pk":289,"display_name":"Infants
        (5 and younger)"},"capacity":120,"custom_field_instances":[],"customer_type":{"note":"5
        and younger","pk":321,"plural":"Infants","singular":"Infant"},"pk":1161863,"total":0},{"customer_prototype":{"pk":3110,"display_name":"Ride
        along"},"capacity":120,"custom_field_instances":[],"customer_type":{"note":"","pk":300,"plural":"Ride
        Alongs","singular":"Ride Along"},"pk":1161980,"total":8800}],"custom_field_instances":[{"pk":4553,"custom_field":{"modifier_type":"none","description":"","booking_notes_safe_html":"","extended_options":[{"name":"101
        Things To Do","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":39982,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""},{"name":"Activity
        Desk","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":39983,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""},{"name":"Hilton
        Waikoloa Briefing","is_taxable":true,"modifier_kind":"offset","description_safe_html":"","offset":0,"pk":39984,"percentage":0.0,"modifier_type":"none","is_always_per_customer":false,"description":""},{"name":"Macaroni
        Grill Pleasan[...]
