---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-a-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:18 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/islandsailing/items/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"image_cdn_url":"https:\/\/d1a2dkr8rai8e2.cloudfront.net\/api\/file\/ojL9kbugT7W5sOVUWZsO","name":"1
        Hr Sailboat Tour","cancellation_policy_safe_html":"\u003cp\u003e1 HR SAILBOAT
        TOUR CANCELLATION POLICY: Customers will receive a full refund with 24 hours
        notice of cancellation. Customers will also receive a full refund in case
        of operator cancellation due to weather or other unforeseen circumstances.
        Contact us by phone to cancel or inquire about a cancellation. No-shows will
        be charged the full price.\u003c\/p\u003e","headline":"","cancellation_policy":"1
        HR SAILBOAT TOUR CANCELLATION POLICY: Customers will receive a full refund
        with 24 hours notice of cancellation. Customers will also receive a full refund
        in case of operator cancellation due to weather or other unforeseen circumstances.
        Contact us by phone to cancel or inquire about a cancellation. No-shows will
        be charged the full price.","is_pickup_ever_available":true,"description_safe_html":"\u003cp\u003eTake
        a sailboat tour around the bay!\u003c\/p\u003e\n\u003cp\u003eHere''s a website:
        \u003ca href=\"http:\/\/apple.com\" target=\"_new\"\u003ehttp:\/\/apple.com\u003c\/a\u003e\u003c\/p\u003e","location":"San
        Francisco Bay","customer_prototypes":[{"pk":2271,"display_name":"Adult"},{"pk":2272,"display_name":"Child"},{"pk":2656,"display_name":"Private
        charter"}],"images":[],"pk":1021,"tax_percentage":7.7122,"description":"Take
        a sailboat tour around the bay!\n\nHere''s a website: \u003chttp:\/\/apple.com\u003e"},{"image_cdn_url":"https:\/\/d1a2dkr8rai8e2.cloudfront.net\/api\/file\/nLpbOZqrQPOnAyroPGaB","name":"2
        Hr Sailboat Tour","cancellation_policy_safe_html":"","headline":"","cancellation_policy":"","is_pickup_ever_available":false,"description_safe_html":"","location":"San
        Francisco Bay","customer_prototypes":[{"pk":2279,"display_name":"Adult"},{"pk":2675,"display_name":"Child"}],"ima[...]
