---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:18 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/sharktourshawaii/items/1108/minimal/availabilities/date/2016-11-14/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-1
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"availabilities":[{"start_at":"2016-11-14T07:00:00-1000","pk":435426,"capacity":18,"customer_type_rates":[{"pk":1044260,"customer_type":{"note":"","pk":1853,"plural":"Adult
        cage divers","singular":"Adult cage diver"},"capacity":18,"customer_prototype":{"pk":2522,"display_name":"Adult
        cage diver"}},{"pk":1044261,"customer_type":{"note":"","pk":1854,"plural":"Child
        cage diver","singular":"Child cage diver"},"capacity":18,"customer_prototype":{"pk":2523,"display_name":"Child
        cage diver"}},{"pk":1044262,"customer_type":{"note":"","pk":1855,"plural":"Adult
        boat rider","singular":"Adult boat rider"},"capacity":18,"customer_prototype":{"pk":2524,"display_name":"Adult
        boat rider"}},{"pk":1044263,"customer_type":{"note":"","pk":1856,"plural":"Child
        boat rider","singular":"Child boat rider"},"capacity":18,"customer_prototype":{"pk":2525,"display_name":"Child
        boat rider"}},{"pk":1044264,"customer_type":{"note":"","pk":1857,"plural":"Infant
        boat rider","singular":"Infant boat rider"},"capacity":18,"customer_prototype":{"pk":2526,"display_name":"Infant
        boat rider"}},{"pk":1044265,"customer_type":{"note":"","pk":1858,"plural":"Adult
        cage driver (kama''aina\/military)","singular":"Adult cage driver (kama''aina\/military)"},"capacity":18,"customer_prototype":{"pk":2527,"display_name":"Adult
        cage driver (kama''aina\/military)"}}],"end_at":"2016-11-14T08:30:00-1000"},{"start_at":"2016-11-14T09:00:00-1000","pk":390637,"capacity":18,"customer_type_rates":[{"pk":931034,"customer_type":{"note":"","pk":1853,"plural":"Adult
        cage divers","singular":"Adult cage diver"},"capacity":18,"customer_prototype":{"pk":2522,"display_name":"Adult
        cage diver"}},{"pk":931035,"customer_type":{"note":"","pk":1854,"plural":"Child
        cage diver","singular":"Child cage diver"},"capacity":18,"customer_prototype":{"pk":2523,"display_name[...]
