---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-a-1
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:21 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/bodyglove/availabilities/70050/lodgings/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-a-1
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"lodgings":[{"pk":555,"is_pickup_available":false,"name":"Alii Cove"},{"pk":556,"is_pickup_available":false,"name":"Alii
        Lani"},{"pk":557,"is_pickup_available":false,"name":"Alii Villa Condominium"},{"pk":558,"is_pickup_available":false,"name":"Aston
        Shores at Waikoloa"},{"pk":559,"is_pickup_available":false,"name":"Aston Waikoloa
        Colony Villas"},{"pk":560,"is_pickup_available":false,"name":"Banyan Tree
        Condominiums"},{"pk":561,"is_pickup_available":false,"name":"Bay Club at Waikoloa
        Beach Resort"},[...]
