---
http_interactions:
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-0
      X-Fh-Loadbalancer:
      - demo-loadbalancers-b-0
    body:
      encoding: ASCII-8BIT
      string: '{"companies":[{"shortname":"bodyglove","name":"Body Glove"},{"shortname":"islandsailing","name":"Island
        Sailing"},{"shortname":"sharktourshawaii","name":"North Shore Shark Adventures"}]}'
  recorded_at: Thu, 15 Sep 2016 23:59:20 GMT
- request:
    method: get
    uri: https://demo.fareharbor.com/api/external/v1/companies/bodyglove/lodgings/?api-app=5fa25381-5ec6-4e86-8b4e-a95735beffa4&api-user=1be378f8-8a6f-4788-b7f0-c2c9b02ca009
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fh-Appserver:
      - demo-appservers-b-1
      X-Fh-Loadbalancer:
      - demo-loadbalancers-a-0
    body:
      encoding: ASCII-8BIT
      string: '{"lodgings":[{"name":"Alii Cove","is_self_lodging":false,"url":"","phone":"","address":"","pk":555},{"name":"Alii
        Lani","is_self_lodging":false,"url":"","phone":"","address":"","pk":556},{"name":"Alii
        Villa Condominium","is_self_lodging":false,"url":"","phone":"(808) 329-1288","address":"","pk":557},{"name":"Aston
        Shores at Waikoloa","is_self_lodging":false,"url":"","phone":"(808) 886-5001","address":"","pk":558},{"name":"Aston
        Waikoloa Colony Villas","is_self_lodging":false,"url":"","phone":"(808) 886-8899","address":"","pk":559},{"name":"Banyan
        Tr[...]
